<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>{{title}}</title>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <div class="container-fluid">

        <div class="m-auto" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a
                class="nav-link active fw-bold fs-5"
                aria-current="page"
                href="/"
              >Home</a>
            </li>
            {{#ifEquals user "admin"}}

              <li class="nav-item">
                <a class="nav-link fw-bold fs-5" href="/operation/add">Add
                  Parcel</a>
              </li>

              <li class="nav-item">
                <a class="nav-link fw-bold fs-5" href="/operation/trucks">All
                  Trucks</a>
              </li>

              <li class="nav-item">
                <a class="nav-link fw-bold fs-5" href="/operation/parcels">All
                  Parcels</a>
              </li>
            {{/ifEquals}}
            {{#ifEquals user "driver"}}

              <li class="nav-item">
                <a
                  class="nav-link active fw-bold fs-5"
                  aria-current="page"
                  href="/operation/view/?id={{id}}"
                >My Truck</a>
              </li>
            {{/ifEquals}}
            {{#unless user}}

              <li class="nav-item">
                <a
                  class="nav-link active fw-bold fs-5"
                  aria-current="page"
                  href="/sign_up"
                >sign_up</a>
              </li>

              <li class="nav-item">
                <a class="nav-link fw-bold fs-5" href="/sign_in">sign in</a>
              </li>
            {{/unless}}
            {{#if user}}
              <li class="nav-item">
                <a class="nav-link fw-bold fs-5" href="/users/sign_out">sign out</a>
              </li>
            {{/if}}

          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>