<div class="container pt-5">
  <div class="m-auto w-25">
    <form action="/users/sign_up" method="POST">
      <label class="form-label">Driver_Email</label>
      <input
        type="email"
        name="email"
        class="form-control my-2"
        placeholder="please enter the truck id"
        required
      />
      <label for="id" class="form-label">Truck_ID</label>
      <input
        type="text"
        name="id"
        id="id"
        class="form-control my-2"
        placeholder="please enter the truck id"
        maxlength="4"
        size="4"
        required
      />

      <label for="name" class="form-label">Name:</label>
      <input
        type="text"
        name="username"
        id="name"
        class="form-control my-2"
        placeholder="please enter the truck name"
        required
      />

      <label for="weight" class="form-label">Truck Weight:</label>
      <input
        type="weight"
        id="weight"
        name="weight"
        class="form-control my-2"
        maxlength="4"
        placeholder="please enter the truck weight"
        required
      />

      <label for="password" class="form-label">password:</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control my-2"
        placeholder="please enter your password"
        required
      />
      <button type="submit" class="btn btn-dark">sign_up</button>

    </form>
    {{#if exp}}
      <div class="alert alert-dark text-center mt-5" role="alert">
        {{exp}}
      </div>
    {{/if}}
  </div>
</div>