<div class="d-flex mt-5 flex-wrap">
  {{#each content}}
    <div class="card text-center m-4" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Parcel</h4>
        <p class="card-text">{{this.details}}.</p>
        <h6>weight:{{this.weight}} kg</h6>
        <button class="card-link btn btn-success"><a
            href="/operation/recieved/?id={{this.id}}"
            class="card-link text-decoration-none text-dark"
          >arrived</a></button>
      </div>
    </div>
  {{/each}}
</div>